<div class="features-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-7">
                <div class="marketing-promo-box text-center">
                    <a href="" class="promo-tag text-uppercase">Marketing Expert</a>
                    <h2 class="promo-title">
                        <a href="">
                            How to Get Customers Without
                            Spending Any Money
                        </a>
                    </h2>
                    <p class="promo-subtitle">LET ME SHOW YOU HOW</p>
                    <a href="" class="btn promo-btn text-uppercase">Start Here</a>
                </div>
            </div>
        </div>
    </div>
</div>