<div class="container-fluid feature-category no-gutter">
    <div class="row">
        <div class="col-md-4">
            <div class="feature-category-post">
                <a href="single-page.html"><img src="assets/images/feature-cat-1.jpg" alt=""></a>
                <div class="category-overlay text-center">
                    <a href="" class="post-cat text-uppercase">Liesure</a>
                    <h2><a href="single-page.html">A Great View near NewYork Bridge</a></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-category-post">
                <a href="single-page.html"><img src="assets/images/feature-cat-3.jpg" alt=""></a>
                <div class="category-overlay text-center">
                    <a href="" class="post-cat text-uppercase">Love</a>
                    <h2><a href="single-page.html">Flower is a Special Symbol of Love</a></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature-category-post">
                <a href="single-page.html"><img src="assets/images/feature-cat-2.jpg" alt=""></a>
                <div class="category-overlay text-center">
                    <a href="" class="post-cat text-uppercase">Flower</a>
                    <h2><a href="single-page.html">A Bucket of Roses for the Function</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>