<div class="join-now-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Learn How TechCom Double Income in just 30 Days <a href="" class="btn btn-join">Join Now</a></h2>
            </div>
        </div>
    </div>
</div>
