<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e363ca71-5f17-4817-a0d7-b76313e35f7e" Alias="ArticulateMarkdown" Level="2">
  <Info>
    <Name>Articulate Markdown</Name>
    <Icon>icon-post-it color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="6eac8174-f2d6-4018-b2b7-b3463e7837ef">ArticulatePost</Parent>
    <Compositions>
      <Composition Key="6eac8174-f2d6-4018-b2b7-b3463e7837ef">ArticulatePost</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>24f321c2-1514-49cd-9681-db53f21ad31b</Key>
      <Name>Markdown</Name>
      <Alias>markdown</Alias>
      <Definition>31d931c7-ce89-40a1-934e-664be25a1e8c</Definition>
      <Type>Umbraco.MarkdownEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>