<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dedb4865-93cc-4dae-a734-dbd88441db95" Alias="ArticulateRichText" Level="2">
  <Info>
    <Name>Articulate Rich Text</Name>
    <Icon>icon-post-it color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="6eac8174-f2d6-4018-b2b7-b3463e7837ef">ArticulatePost</Parent>
    <Compositions>
      <Composition Key="6eac8174-f2d6-4018-b2b7-b3463e7837ef">ArticulatePost</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>77ee6813-8dea-4b23-98f6-4e34e7d764ab</Key>
      <Name>Rich Text</Name>
      <Alias>richText</Alias>
      <Definition>dbcb0707-021d-4cd4-ba8b-5cc891516c28</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>