<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6eac8174-f2d6-4018-b2b7-b3463e7837ef" Alias="ArticulatePost" Level="1">
  <Info>
    <Name>Articulate Post</Name>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e10183a4-d07a-4b18-9c11-b9eff0113a17</Key>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Post Attributes</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a0139d78-ea7c-492c-ad6d-584b547b2875</Key>
      <Name>Categories</Name>
      <Alias>categories</Alias>
      <Definition>a72aeb12-5b28-4a47-b99a-fde14d49c1ac</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Post Attributes</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ac102e2b-5ef9-4be2-9c96-873add9dfdd0</Key>
      <Name>Enable Comments</Name>
      <Alias>enableComments</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Post Attributes</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>97374ba3-3646-4aef-afec-eecbca97699d</Key>
      <Name>Excerpt</Name>
      <Alias>excerpt</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Post Attributes</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c4bf0b20-99b1-4b62-956d-b4f914c12459</Key>
      <Name>Import Id</Name>
      <Alias>importId</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Used during a blogml import process to ensure that re-importing does not create duplicate posts.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a3fff29f-d816-429d-8c68-f9a918781cbd</Key>
      <Name>Post Image</Name>
      <Alias>postImage</Alias>
      <Definition>c8f535ee-27b8-4d16-940d-d6c523851bb1</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An optional image for your blog post]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Image</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3cb5ead3-3953-4354-93ae-dc6eb71331de</Key>
      <Name>Published Date</Name>
      <Alias>publishedDate</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the date that the document will be shown as published on your website]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Post Attributes</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0c61c8d2-c50d-4ac2-a054-7580ecf7a1cb</Key>
      <Name>Social Description</Name>
      <Alias>socialDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Open Graph Description - Describe the article in one or two lines.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Meta Tags</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ebf57aeb-1314-4bc6-9afb-ef21a8859420</Key>
      <Name>Tags</Name>
      <Alias>tags</Alias>
      <Definition>f8404fdc-7667-4184-95c3-125b1d81314d</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Post Attributes</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4c702d73-f9d9-4dd9-b6aa-1b15435307ef</Key>
      <Name>umbracoUrlAlias</Name>
      <Alias>umbracoUrlAlias</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab></Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>773f7f1c-7aed-4f50-9d56-84f57d08bde2</Key>
      <Name>Slug</Name>
      <Alias>umbracoUrlName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If left blank then umbraco will auto-generate the URL name based on the node name]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Post Attributes</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Post Attributes</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Image</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Meta Tags</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>