<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bad8ef49-004e-4aef-b8e9-02fb45e57ff3" Alias="ArticulateAuthors" Level="1">
  <Info>
    <Name>Articulate Authors</Name>
    <Icon>icon-user-females-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="929a337f-f3f2-4e8c-8fa1-80417ac084c4">ArticulateAuthor</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>