<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4f05b64d-f0b6-4aaa-aae2-72664faecda8" Alias="blogpost" Level="1">
  <Info>
    <Name>Blogpost</Name>
    <Icon>icon-calendar color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="ab9d683f-4f6f-4af1-8faf-91e2741bc4d2">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Blogpost</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="57b5c6c8-16ad-4b1b-b46f-60eb69992b51">Blogpost</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>