<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="96995049-9655-48f3-b431-27d20fabd787" Alias="topLevelLandingPage" Level="1">
  <Info>
    <Name>Top level landing page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="b60ab21c-3805-4f7a-8ff8-1e54085f10e3">contentBase</Composition>
      <Composition Key="ab9d683f-4f6f-4af1-8faf-91e2741bc4d2">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>TopLevelLandingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7f592e25-9ebc-4b63-9a34-4479286431b2">TopLevelLandingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6d0cc717-0d43-4ce2-beea-3e5314b3c344">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>